 *, *:before, *:after {
     box-sizing: border-box;
}
 body {
     background: #ddd;
     overflow-x: hidden;
}
/* Beginning of Colours */
 .w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{
     color:#fff!important;
     background-color:#607d8b!important 
}
 .w3-red,.w3-hover-red:hover{
     color:#fff!important;
     background-color:#f44336!important 
}
 .w3-blue,.w3-hover-blue:hover{
     color:#fff!important;
     background-color:#3b77d6!important 
}
 .w3-white,.w3-hover-white:hover{
     color:#000!important;
     background-color:#fff!important 
}
 .w3-black,.w3-hover-black:hover{
     color:#fff!important;
     background-color:#000!important 
}
/* End of Colours */
/* Beginning of z-index */
 .w3-zindex-1{
     z-index : 1!important;
}
 .w3-zindex-2{
     z-index : 2!important;
}
 .w3-zindex-3{
     z-index : 3!important;
}
 .w3-zindex-4{
     z-index : 4!important;
}
 .w3-zindex-5{
     z-index : 5!important;
}
 .w3-zindex-6{
     z-index : 6!important;
}
/* End of z-index */
/* Beginning of General Properties */
 .w3-button{
     border:none;
     display:inline-block;
     padding:8px 16px;
     vertical-align:middle;
     overflow:hidden;
     text-decoration:none;
     color:inherit;
     background-color:inherit;
     text-align:center;
     cursor:pointer;
     white-space:nowrap ;
     -webkit-touch-callout:none;
     -webkit-user-select:none;
     -khtml-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none 
}
 .w3-button:disabled{
     cursor:not-allowed;
     opacity:0.7 
}
 .w3-modal{
     z-index:3;
     display:none;
     padding-top:50px;
     position:fixed;
     left:0;
     top:0;
     width:100%;
     height:100%;
     overflow:auto;
     background-color:rgba(0,0,0,0.7);
     transition: 1s ease;
}
 .w3-modal-content{
     margin:auto;
     background-color:rgba(0,0,0,0);
     position:relative;
     padding:0;
     outline:0;
     width:90%;
     height:95%;
}
 .w3-display-topleft{
     position:absolute;
     left:0;
     top:0 
}
 .w3-display-topright{
     position:absolute;
     right:0;
     top:0 
}
 .w3-display-left{
     position:absolute;
     top:50%;
     left:0%;
     transform:translate(0%,-50%);
     -ms-transform:translate(-0%,-50%) 
}
 .w3-display-right{
     position:absolute;
     top:50%;
     right:0%;
     transform:translate(0%,-50%);
     -ms-transform:translate(0%,-50%) 
}
 .w3-display-topmiddle{
     position:absolute;
     left:50%;
     top:3%;
     transform:translate(-50%,0%);
     -ms-transform:translate(-50%,0%) 
}
 .w3-display-bottommiddle{
     position:absolute;
     left:50%;
     bottom:3%;
     transform:translate(-50%,0%);
     -ms-transform:translate(-50%,0%) 
}
 .w3-animate-zoom {
     animation:animatezoom 0.6s 
}
 .w3-round{
     border-radius: 50% 
}
/* End of General Properties */
/* Beginning of Poloroid Properties */
 .container {
     position: relative;
     width: 90%;
     margin: auto;
}
 .photo {
     width: 200px;
     height: 200px;
     position: relative;
     background: white;
     box-shadow: inset 0px 0px 50px rgba(0,0,0,0.1), 0px 5px 10px rgba(0,0,0,0.25);
     float: left;
     margin-top: 0;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 0;
     border-radius: 3px;
     padding: 10px 10px 10px 10px;
     transition: all 500ms ease;
     transform: translateZ(0);
}
 .photo:hover {
     transform: rotateZ(0deg) scale(1.5) !important;
     box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1), 0px 0px 29px rgba(0, 0, 0, 0.2);
     z-index: 2!important;
}
 .poloroid {
     width: 100%;
     height: 100%;
     position: relative;
     object-fit: cover;
}
/* End of Poloroid Properties */
/* Beginning of Gallery Specific Properties */
 .w3-screenImg {
     max-width:100%;
     max-height:100%;
     object-fit: contain;
}
 .w3-screen{
     width: 49%;
     height: 95%;
     background-color:rgba(0,0,0,0);
     position: relative;
     object-fit: cover;
     text-align:center;
     vertical-align:middle;
     transition: all 1s ease;
}
 .w3-title{
     width: 49%;
     color:white;
     border-width:2px;
     border-color:white;
     border-style:none none none double;
     background-color:rgba(0,0,0,0.1);
     padding:8px 16px!important ;
     text-align: left;
     vertical-align:middle;
     transition: all 1s ease;
	 position:absolute;
     top:50%;
     right:0%;
     transform:translate(0%,-50%);
     -ms-transform:translate(0%,-50%) 
}
 .w3-header{
     font-size:24px!important 
}
 .w3-slide-screen{
     background-color: #000;
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center center;
     font-size: 18px;
}
 .w3-slide-desc{
     color:white;
     background-color:rgba(0,0,0,0.5);
     padding:8px 16px!important 
}
/* End of Gallery Specific Properties */
/* Beginning of Slide show button Properties*/
 .w3-slide-show-button{
     height: 30px;
     width: 30px;
     background-color:#fff;
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center center;
	 display:inline-block;
}
 .w3-slide-show-button:hover{
     background-color:red;
}
 #pauseSlideShow{
     background-image: url("https://bibekmoulik.github.io/gallery/images/pause.png");
}
 #resumeSlideShow{
     background-image: url("https://bibekmoulik.github.io/gallery/images/resume.png");
}
 #stopSlideShow{
     background-image: url("https://bibekmoulik.github.io/gallery/images/stop.png");
}
 #restartSlideShow{
     background-image: url("https://bibekmoulik.github.io/gallery/images/restart.png");
}
 #previousImage{
     background-image: url("https://bibekmoulik.github.io/gallery/images/previous.png");
}
 #nextImage{
     background-image: url("https://bibekmoulik.github.io/gallery/images/next.png");
}
/* End of Slide show button Properties*/
/* Beginning of Responsive Properties*/
 @media screen and (max-width: 480px) {
     .photo{
         width: 90%;
         transform: rotateZ(0deg) !important;
         margin: 20px auto 0 auto;
         float: none;
    }
     .photo:hover {
         transform: rotateZ(0deg) scale(1.1) !important;
         box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1), 0px 0px 29px rgba(0, 0, 0, 0.2);
         z-index: 2!important;
    }
	
	 .w3-screen{
		 width: 98%;
		 height: 50%;
		 background-color:rgba(0,0,0,0);
		 position: relative;
		 object-fit: cover;
		 text-align:center;
		 vertical-align:top;
	}
	 .w3-title{
		 width: 98%;
		 height: 40%;
		 border-style:double none none none;
		 background-color:rgba(0,0,0,0.1);
		 position:absolute;
		 text-align: center;
		 vertical-align:top;
		 
		 position:absolute;
		 left:50%;
		 bottom:3%;
		 transform:translate(-50%,0%);
		 -ms-transform:translate(-50%,0%); 
	}
}
/* End of Responsive Properties*/
