 *, *:before, *:after {
     box-sizing: border-box;
}
 body {
     background: #ddd;
     overflow-x: hidden;
}
/* End extract */
 .w3-button{
     border:none;
     display:inline-block;
     padding:8px 16px;
     vertical-align:middle;
     overflow:hidden;
     text-decoration:none;
     color:inherit;
     background-color:inherit;
     text-align:center;
     cursor:pointer;
     white-space:nowrap ;
     -webkit-touch-callout:none;
     -webkit-user-select:none;
     -khtml-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none 
}
 .w3-button:disabled{
     cursor:not-allowed;
     opacity:0.3 
}
 .w3-modal{
     z-index:3;
     display:none;
     padding-top:50px;
     position:fixed;
     left:0;
     top:0;
     width:100%;
     height:100%;
     overflow:auto;
     background-color:rgba(0,0,0,0.7);
}
 .w3-modal-content{
     margin:auto;
     background-color:rgba(0,0,0,0);
     position:relative;
     padding:0;
     outline:0;
     width:90%;
     height:95%;
}
 @media (max-width:600px){
     .w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{
         width:100% 
    }
}
 .w3-display-topleft{
     position:absolute;
     left:0;
     top:0 
}
 .w3-display-topright{
     position:absolute;
     right:0;
     top:0 
}
 .w3-display-left{
     position:absolute;
     top:50%;
     left:0%;
     transform:translate(0%,-50%);
     -ms-transform:translate(-0%,-50%) 
}
 .w3-display-right{
     position:absolute;
     top:50%;
     right:0%;
     transform:translate(0%,-50%);
     -ms-transform:translate(0%,-50%) 
}
 .w3-animate-zoom {
     animation:animatezoom 0.6s 
}
/* Colors */
 .w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{
     color:#fff!important;
     background-color:#607d8b!important 
}
 .w3-red,.w3-hover-red:hover{
     color:#fff!important;
     background-color:#f44336!important 
}
 .w3-blue,.w3-hover-blue:hover{
     color:#fff!important;
     background-color:#3b77d6!important 
}
/* newly added */
 .w3-displayBoard {
     width: 95%;
     height: 95%;
     background-color:rgba(0,0,0,0);
     position: relative;
     object-fit: cover;
     text-align:center;
     vertical-align:middle;
}
 .w3-screenImg {
     max-width:100%;
     max-height:100%;
     object-fit: contain;
}
 .w3-title{
     color:white;
     background-color:rgba(0,0,0,0.1);
     padding:8px 16px!important 
}
 .w3-header{
     font-size:24px!important 
}
 .w3-zindex-4{
     z-index : 4 
}
 @media (max-width:1080px){
     .w3-header{
         font-size:18px!important 
    }
}
 @media (max-width:720px){
     .w3-header{
         font-size:12px!important 
    }
}
 @media (max-width:320px){
     .w3-header{
         font-size:6px!important 
    }
}
/* For Poloroid */
 .container {
     @media screen and (min-width: 801px) {
         position: relative;
         width: 90%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
    }
}
 .photo {
     width: 200px;
     height: 200px;
     position: relative;
     background: white;
     box-shadow: inset 0px 0px 50px rgba(0,0,0,0.1), 0px 5px 10px rgba(0,0,0,0.25);
     float: left;
     margin-top: 0;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 0;
     border-radius: 3px;
     padding: 10px 10px 10px 10px;
     transition: all 100ms ease-out;
     transform: translateZ(0);
}
 .photo:hover {
     transform: rotateZ(0deg) scale(1.5) !important;
     box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1), 0px 0px 29px rgba(0, 0, 0, 0.2);
     z-index: 2!important;
}
 .poloroid {
     width: 100%;
     height: 100%;
     position: relative;
     object-fit: cover;
}
